html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.tf-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.tf-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.tf-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.tf-table,.tf-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.tf-table-all{border:1px solid #ccc}
.tf-bordered tr,.tf-table-all tr{border-bottom:1px solid #ddd}.tf-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.tf-table-all tr:nth-child(odd){background-color:#fff}.tf-table-all tr:nth-child(even){background-color:#f1f1f1}
.tf-hoverable tbody tr:hover,.tf-ul.tf-hoverable li:hover{background-color:#ccc}.tf-centered tr th,.tf-centered tr td{text-align:center}
.tf-table td,.tf-table th,.tf-table-all td,.tf-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.tf-table th:first-child,.tf-table td:first-child,.tf-table-all th:first-child,.tf-table-all td:first-child{padding-left:16px}
.tf-btn,.tf-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.tf-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.tf-btn,.tf-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.tf-disabled,.tf-btn:disabled,.tf-button:disabled{cursor:not-allowed;opacity:0.3}.tf-disabled *,:disabled *{pointer-events:none}
.tf-btn.tf-disabled:hover,.tf-btn:disabled:hover{box-shadow:none}
.tf-badge,.tf-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.tf-badge{border-radius:50%}
.tf-ul{list-style-type:none;padding:0;margin:0}.tf-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.tf-ul li:last-child{border-bottom:none}
.tf-tooltip,.tf-display-container{position:relative}.tf-tooltip .tf-text{display:none}.tf-tooltip:hover .tf-text{display:inline-block}
.tf-ripple:active{opacity:0.5}.tf-ripple{transition:opacity 0s}
.tf-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.tf-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.tf-dropdown-click,.tf-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.tf-dropdown-hover:hover .tf-dropdown-content{display:block}
.tf-dropdown-hover:first-child,.tf-dropdown-click:hover{background-color:#ccc;color:#000}
.tf-dropdown-hover:hover > .tf-button:first-child,.tf-dropdown-click:hover > .tf-button:first-child{background-color:#ccc;color:#000}
.tf-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.tf-check,.tf-radio{width:24px;height:24px;position:relative;top:6px}
.tf-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.tf-bar-block .tf-dropdown-hover,.tf-bar-block .tf-dropdown-click{width:100%}
.tf-bar-block .tf-dropdown-hover .tf-dropdown-content,.tf-bar-block .tf-dropdown-click .tf-dropdown-content{min-width:100%}
.tf-bar-block .tf-dropdown-hover .tf-button,.tf-bar-block .tf-dropdown-click .tf-button{width:100%;text-align:left;padding:8px 16px}
.tf-main,#main{transition:margin-left .4s}
.tf-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.tf-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.tf-bar{width:100%;overflow:hidden}.tf-center .tf-bar{display:inline-block;width:auto}
.tf-bar .tf-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.tf-bar .tf-dropdown-hover,.tf-bar .tf-dropdown-click{position:static;float:left}
.tf-bar .tf-button{white-space:normal}
.tf-bar-block .tf-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.tf-bar-block.tf-center .tf-bar-item{text-align:center}.tf-block{display:block;width:100%}
.tf-responsive{display:block;overflow-x:auto}
.tf-container:after,.tf-container:before,.tf-panel:after,.tf-panel:before,.tf-row:after,.tf-row:before,.tf-row-padding:after,.tf-row-padding:before,
.tf-cell-row:before,.tf-cell-row:after,.tf-clear:after,.tf-clear:before,.tf-bar:before,.tf-bar:after{content:"";display:table;clear:both}
.tf-col,.tf-half,.tf-third,.tf-twothird,.tf-threequarter,.tf-quarter{float:left;width:100%}
.tf-col.s1{width:8.33333%}.tf-col.s2{width:16.66666%}.tf-col.s3{width:24.99999%}.tf-col.s4{width:33.33333%}
.tf-col.s5{width:41.66666%}.tf-col.s6{width:49.99999%}.tf-col.s7{width:58.33333%}.tf-col.s8{width:66.66666%}
.tf-col.s9{width:74.99999%}.tf-col.s10{width:83.33333%}.tf-col.s11{width:91.66666%}.tf-col.s12{width:99.99999%}
@media (min-width:601px){.tf-col.m1{width:8.33333%}.tf-col.m2{width:16.66666%}.tf-col.m3,.tf-quarter{width:24.99999%}.tf-col.m4,.tf-third{width:33.33333%}
.tf-col.m5{width:41.66666%}.tf-col.m6,.tf-half{width:49.99999%}.tf-col.m7{width:58.33333%}.tf-col.m8,.tf-twothird{width:66.66666%}
.tf-col.m9,.tf-threequarter{width:74.99999%}.tf-col.m10{width:83.33333%}.tf-col.m11{width:91.66666%}.tf-col.m12{width:99.99999%}}
@media (min-width:993px){.tf-col.l1{width:8.33333%}.tf-col.l2{width:16.66666%}.tf-col.l3{width:24.99999%}.tf-col.l4{width:33.33333%}
.tf-col.l5{width:41.66666%}.tf-col.l6{width:49.99999%}.tf-col.l7{width:58.33333%}.tf-col.l8{width:66.66666%}
.tf-col.l9{width:74.99999%}.tf-col.l10{width:83.33333%}.tf-col.l11{width:91.66666%}.tf-col.l12{width:99.99999%}}
.tf-content{max-width:980px;margin:auto}.tf-rest{overflow:hidden}
.tf-cell-row{display:table;width:100%}.tf-cell{display:table-cell}
.tf-cell-top{vertical-align:top}.tf-cell-middle{vertical-align:middle}.tf-cell-bottom{vertical-align:bottom}
.tf-hide{display:none!important}.tf-show-block,.tf-show{display:block!important}.tf-show-inline-block{display:inline-block!important}
@media (max-width:700px){.tf-modal-content{margin:0 10px;width:auto!important}.tf-modal{padding-top:30px}
.tf-dropdown-hover.tf-mobile .tf-dropdown-content,.tf-dropdown-click.tf-mobile .tf-dropdown-content{position:relative}	
.tf-hide-small{display:none!important}.tf-mobile{display:block;width:100%!important}.tf-bar-item.tf-mobile,.tf-dropdown-hover.tf-mobile,.tf-dropdown-click.tf-mobile{text-align:center}
.tf-dropdown-hover.tf-mobile,.tf-dropdown-hover.tf-mobile .tf-btn,.tf-dropdown-hover.tf-mobile .tf-button,.tf-dropdown-click.tf-mobile,.tf-dropdown-click.tf-mobile .tf-btn,.tf-dropdown-click.tf-mobile .tf-button{width:100%}}
@media (max-width:768px){.tf-modal-content{width:500px}.tf-modal{padding-top:50px}}
@media (min-width:993px){.tf-modal-content{width:900px}.tf-hide-large{display:none!important}.tf-sidebar.tf-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.tf-hide-medium{display:none!important}}
@media (max-width:992px){.tf-sidebar.tf-collapse{display:none}.tf-main{margin-left:0!important;margin-right:0!important}}
.tf-top,.tf-bottom{width:100%;z-index:1}.tf-top{top:0}.tf-bottom{bottom:0}
.tf-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.tf-display-topleft{position:absolute;left:0;top:0}.tf-display-topright{position:absolute;right:0;top:0}
.tf-display-bottomleft{position:absolute;left:0;bottom:0}.tf-display-bottomright{position:absolute;right:0;bottom:0}
.tf-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.tf-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.tf-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.tf-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.tf-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.tf-display-container:hover .tf-display-hover{display:block}.tf-display-container:hover span.tf-display-hover{display:inline-block}.tf-display-hover{display:none}
.tf-display-position{position:absolute}
.tf-circle{border-radius:50%}
.tf-round-small{border-radius:2px}.tf-round,.tf-round-medium{border-radius:4px}.tf-round-large{border-radius:8px}.tf-round-xlarge{border-radius:16px}.tf-round-xxlarge{border-radius:32px}
.tf-row-padding,.tf-row-padding>.tf-half,.tf-row-padding>.tf-third,.tf-row-padding>.tf-twothird,.tf-row-padding>.tf-threequarter,.tf-row-padding>.tf-quarter,.tf-row-padding>.tf-col{padding:0 8px}
.tf-container,.tf-panel{padding:0.01em 16px}.tf-panel{margin-top:16px;margin-bottom:16px}
.tf-code,.tf-codespan{font-family:Consolas,"courier new";font-size:16px}
.tf-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.tf-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.tf-card,.tf-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.tf-card-4,.tf-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.tf-spin{animation:tf-spin 2s infinite linear}@keyframes tf-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.tf-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.tf-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.tf-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.tf-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.tf-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.tf-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.tf-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.tf-animate-input{transition:width 0.4s ease-in-out}.tf-animate-input:focus{width:100%!important}
.tf-opacity,.tf-hover-opacity:hover{opacity:0.60}.tf-opacity-off,.tf-hover-opacity-off:hover{opacity:1}
.tf-opacity-max{opacity:0.25}.tf-opacity-min{opacity:0.75}
.tf-greyscale-max,.tf-grayscale-max,.tf-hover-greyscale:hover,.tf-hover-grayscale:hover{filter:grayscale(100%)}
.tf-greyscale,.tf-grayscale{filter:grayscale(75%)}.tf-greyscale-min,.tf-grayscale-min{filter:grayscale(50%)}
.tf-sepia{filter:sepia(75%)}.tf-sepia-max,.tf-hover-sepia:hover{filter:sepia(100%)}.tf-sepia-min{filter:sepia(50%)}
.tf-tiny{font-size:10px!important}.tf-small{font-size:12px!important}.tf-medium{font-size:15px!important}.tf-large{font-size:18px!important}
.tf-xlarge{font-size:24px!important}.tf-xxlarge{font-size:36px!important}.tf-xxxlarge{font-size:48px!important}.tf-jumbo{font-size:64px!important}
.tf-left-align{text-align:left!important}.tf-right-align{text-align:right!important}.tf-justify{text-align:justify!important}.tf-center{text-align:center!important}
.tf-border-0{border:0!important}.tf-border{border:1px solid #ccc!important}
.tf-border-top{border-top:1px solid #ccc!important}.tf-border-bottom{border-bottom:1px solid #ccc!important}
.tf-border-left{border-left:1px solid #ccc!important}.tf-border-right{border-right:1px solid #ccc!important}
.tf-topbar{border-top:6px solid #ccc!important}.tf-bottombar{border-bottom:6px solid #ccc!important}
.tf-leftbar{border-left:6px solid #ccc!important}.tf-rightbar{border-right:6px solid #ccc!important}
.tf-section,.tf-code{margin-top:16px!important;margin-bottom:16px!important}
.tf-margin{margin:16px!important}.tf-margin-top{margin-top:16px!important}.tf-margin-bottom{margin-bottom:16px!important}
.tf-margin-left{margin-left:16px!important}.tf-margin-right{margin-right:16px!important}
.tf-padding-small{padding:4px 8px!important}.tf-padding{padding:8px 16px!important}.tf-padding-large{padding:12px 24px!important}
.tf-padding-16{padding-top:16px!important;padding-bottom:16px!important}.tf-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.tf-padding-32{padding-top:32px!important;padding-bottom:32px!important}.tf-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.tf-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.tf-left{float:left!important}.tf-right{float:right!important}
.tf-button:hover{color:#000!important;background-color:#ccc!important}
.tf-transparent,.tf-hover-none:hover{background-color:transparent!important}
.tf-hover-none:hover{box-shadow:none!important}
/* Colors */
.tf-amber,.tf-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.tf-aqua,.tf-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.tf-blue,.tf-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.tf-light-blue,.tf-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.tf-brown,.tf-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.tf-cyan,.tf-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.tf-blue-grey,.tf-hover-blue-grey:hover,.tf-blue-gray,.tf-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.tf-green,.tf-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.tf-light-green,.tf-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.tf-indigo,.tf-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.tf-khaki,.tf-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.tf-lime,.tf-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.tf-orange,.tf-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.tf-deep-orange,.tf-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.tf-pink,.tf-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.tf-purple,.tf-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.tf-deep-purple,.tf-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.tf-red,.tf-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.tf-sand,.tf-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.tf-teal,.tf-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.tf-yellow,.tf-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.tf-white,.tf-hover-white:hover{color:#000!important;background-color:#fff!important}
.tf-black,.tf-hover-black:hover{color:#fff!important;background-color:#000!important}
.tf-grey,.tf-hover-grey:hover,.tf-gray,.tf-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.tf-light-grey,.tf-hover-light-grey:hover,.tf-light-gray,.tf-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.tf-dark-grey,.tf-hover-dark-grey:hover,.tf-dark-gray,.tf-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.tf-pale-red,.tf-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.tf-pale-green,.tf-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.tf-pale-yellow,.tf-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.tf-pale-blue,.tf-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.tf-text-amber,.tf-hover-text-amber:hover{color:#ffc107!important}
.tf-text-aqua,.tf-hover-text-aqua:hover{color:#00ffff!important}
.tf-text-blue,.tf-hover-text-blue:hover{color:#2196F3!important}
.tf-text-light-blue,.tf-hover-text-light-blue:hover{color:#87CEEB!important}
.tf-text-brown,.tf-hover-text-brown:hover{color:#795548!important}
.tf-text-cyan,.tf-hover-text-cyan:hover{color:#00bcd4!important}
.tf-text-blue-grey,.tf-hover-text-blue-grey:hover,.tf-text-blue-gray,.tf-hover-text-blue-gray:hover{color:#607d8b!important}
.tf-text-green,.tf-hover-text-green:hover{color:#4CAF50!important}
.tf-text-light-green,.tf-hover-text-light-green:hover{color:#8bc34a!important}
.tf-text-indigo,.tf-hover-text-indigo:hover{color:#3f51b5!important}
.tf-text-khaki,.tf-hover-text-khaki:hover{color:#b4aa50!important}
.tf-text-lime,.tf-hover-text-lime:hover{color:#cddc39!important}
.tf-text-orange,.tf-hover-text-orange:hover{color:#ff9800!important}
.tf-text-deep-orange,.tf-hover-text-deep-orange:hover{color:#ff5722!important}
.tf-text-pink,.tf-hover-text-pink:hover{color:#e91e63!important}
.tf-text-purple,.tf-hover-text-purple:hover{color:#9c27b0!important}
.tf-text-deep-purple,.tf-hover-text-deep-purple:hover{color:#673ab7!important}
.tf-text-red,.tf-hover-text-red:hover{color:#f44336!important}
.tf-text-sand,.tf-hover-text-sand:hover{color:#fdf5e6!important}
.tf-text-teal,.tf-hover-text-teal:hover{color:#009688!important}
.tf-text-yellow,.tf-hover-text-yellow:hover{color:#d2be0e!important}
.tf-text-white,.tf-hover-text-white:hover{color:#fff!important}
.tf-text-black,.tf-hover-text-black:hover{color:#000!important}
.tf-text-grey,.tf-hover-text-grey:hover,.tf-text-gray,.tf-hover-text-gray:hover{color:#757575!important}
.tf-text-light-grey,.tf-hover-text-light-grey:hover,.tf-text-light-gray,.tf-hover-text-light-gray:hover{color:#f1f1f1!important}
.tf-text-dark-grey,.tf-hover-text-dark-grey:hover,.tf-text-dark-gray,.tf-hover-text-dark-gray:hover{color:#3a3a3a!important}
.tf-border-amber,.tf-hover-border-amber:hover{border-color:#ffc107!important}
.tf-border-aqua,.tf-hover-border-aqua:hover{border-color:#00ffff!important}
.tf-border-blue,.tf-hover-border-blue:hover{border-color:#2196F3!important}
.tf-border-light-blue,.tf-hover-border-light-blue:hover{border-color:#87CEEB!important}
.tf-border-brown,.tf-hover-border-brown:hover{border-color:#795548!important}
.tf-border-cyan,.tf-hover-border-cyan:hover{border-color:#00bcd4!important}
.tf-border-blue-grey,.tf-hover-border-blue-grey:hover,.tf-border-blue-gray,.tf-hover-border-blue-gray:hover{border-color:#607d8b!important}
.tf-border-green,.tf-hover-border-green:hover{border-color:#4CAF50!important}
.tf-border-light-green,.tf-hover-border-light-green:hover{border-color:#8bc34a!important}
.tf-border-indigo,.tf-hover-border-indigo:hover{border-color:#3f51b5!important}
.tf-border-khaki,.tf-hover-border-khaki:hover{border-color:#f0e68c!important}
.tf-border-lime,.tf-hover-border-lime:hover{border-color:#cddc39!important}
.tf-border-orange,.tf-hover-border-orange:hover{border-color:#ff9800!important}
.tf-border-deep-orange,.tf-hover-border-deep-orange:hover{border-color:#ff5722!important}
.tf-border-pink,.tf-hover-border-pink:hover{border-color:#e91e63!important}
.tf-border-purple,.tf-hover-border-purple:hover{border-color:#9c27b0!important}
.tf-border-deep-purple,.tf-hover-border-deep-purple:hover{border-color:#673ab7!important}
.tf-border-red,.tf-hover-border-red:hover{border-color:#f44336!important}
.tf-border-sand,.tf-hover-border-sand:hover{border-color:#fdf5e6!important}
.tf-border-teal,.tf-hover-border-teal:hover{border-color:#009688!important}
.tf-border-yellow,.tf-hover-border-yellow:hover{border-color:#ffeb3b!important}
.tf-border-white,.tf-hover-border-white:hover{border-color:#fff!important}
.tf-border-black,.tf-hover-border-black:hover{border-color:#000!important}
.tf-border-grey,.tf-hover-border-grey:hover,.tf-border-gray,.tf-hover-border-gray:hover{border-color:#9e9e9e!important}
.tf-border-light-grey,.tf-hover-border-light-grey:hover,.tf-border-light-gray,.tf-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.tf-border-dark-grey,.tf-hover-border-dark-grey:hover,.tf-border-dark-gray,.tf-hover-border-dark-gray:hover{border-color:#616161!important}
.tf-border-pale-red,.tf-hover-border-pale-red:hover{border-color:#ffe7e7!important}.tf-border-pale-green,.tf-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.tf-border-pale-yellow,.tf-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.tf-border-pale-blue,.tf-hover-border-pale-blue:hover{border-color:#e7ffff!important}

body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}